/src/.deps/.dirstamp
/autom4te.cache/output.1
/config.h
/stamp-h1
/autom4te.cache/output.0
/autom4te.cache/requests
/config.log
/autom4te.cache/traces.0
/Makefile
/src/.dirstamp
/Makefile.in
/config.status
/autom4te.cache/traces.1
configure~
src/.deps/
