configure
compile
depcomp
install-sh
missing
Makefile.in
Makefile
autom4te.cache
config.h
config.log
config.status
*~
de.paraair.tascamgtk.gschema.valid
src/.deps
src/.dirstamp
src/*.o
tascamgtk
stamp-h1
